/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
header {
  background-color: #9d1a10;
  height: 138px;
  color: black;
  list-style: none;
  text-decoration: none;
  
  
}
header nav  * {
  float: left;
  width: 10%;
  list-style: none;
  display: block;
  color: black;
  
}
nav  ul {
  width: 70%;
  float: left;
  color: black;
  font-size: 1.5rem;
}


/*this is the first section */
main {
  background-image: url("spanishrice.jpg");
  background-repeat: none;
  background-size: 100%;
  clear: both;
  height: 500px;
  width: 100%;
  color: rgb(255, 8, 0);
  
}

main + section {
  background-color: #0a9511;
  background-size: 100% 500px;
  height: 500px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-right: 60%;
  margin-left: 30px;
}

input {
  width: 20%;
  padding: 10px 0 ;
  margin-left: 30px;
}

main > form a {
  text-decoration: none;
  padding: 10px 30px;
  background-color: rgb(255, 8, 0);
  color: white;
}

main section {
  margin: 10px 30px;
  padding: 10px;
  clear: both;
  
}
main section a {
  font-size: 1.2rem;
  color: rgb(255, 8, 0);
  text-decoration: none;
  margin-left: 50px;
}

/*this is the second section */
main + section p + a {
  text-decoration: none;
  padding: 10px 30px;
  background-color: rgb(255, 8, 0);
  color: white;
  margin: 20px 50px 0 0;
}

main + section {
  text-align: right;
  
}
.para2pic {
  height: 15rem;
  width: 15rem;
}

main + section span {
  color: rgb(255, 8, 0);
  font-weight: 600;
  margin-right: 50px;
  font-size: 1.6rem;
}

main + section h2 {
 margin:  0 50px 20px 0 ;
  font-size: 3rem;
} 


main + section p {
  text-align: right;
  margin: 0 50px 10px 700px;
  font-size: 1.5rem;

}

/*this is the 3rd section */
main + section + section {
  text-align: center;
  background-image: url("nachos.jpg");
  background-repeat: none;
  background-size: 100%;
  height: auto;
  
}
main + section + section span {
  color: rgb(255, 8, 0);
  font-weight: 600;
  margin-top: 30px;
}
#ourSpecialC {
  color: #0a9511;
}

#mealTimes {
  text-align: center;
}

#orderNow{
  font-size: 3.5rem;
}

main + section + section h2 {
  font-size: 3rem;
  clear: both;
}

#specialDishes {
  clear: both;
   width: 50%;
   height: 100%;
   display: grid;
   margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  grid-template-rows: repeat(4, 1fr);
}

.specialSectionpic {
  height: 15rem;
  width: 18rem;  
}

main + section + section li {
  float: left;
  width: 15%;
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
  margin-bottom: 10px;
  
}

main + section + section  section {
  width: 90%;
  height: 900px;
}

main + section + section  section img{
  float: left;
  width: 23%;
  list-style: none;
  margin: 1%;
  
  
}


/*this is the fourth section open hours*/
main + section + section + section {
  background-color: #0a9511;;
  background-size: 100%;
  text-align: center;
  clear: both;
}
#bookTable {
  font-size: 3rem;
}

#hoursOpen {
  font-size: 3rem;
}

#stuffedQueso {
  height: 15rem;
  width: 18rem;
}




/*this is the last section Testimonil*/
main + section + section + section + section {
  text-align: center;
}
#testimonialSection {
  font-size: 3rem;
}
#profilePicture {
  height: 13rem;
  width: 10rem;
}

#testText {
  font-size: 2rem;
}

#copyright {
  margin: 0 auto;
  text-align: center;
  clear: both;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/